@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin-top: 0;
}

body {
    background-image: url("pic/dnn.jpg");
    background-size: cover;
}

li,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
}

.logo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 2px 2px #2e75eb;
    cursor: pointer;
    margin-right: auto;
}

.logo:hover {
    text-shadow: 0 0 0px #f9f8fd, 0 0 5px #f9f8fd, 0 0 8px #f9f8fd, 0 0 10px #f9f8fd;
}

/* .ser {
    width: 220px;
    height: 30px;
    margin-right: 32px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
} */

::placeholder {
    color: white;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.bu {
    color: blue;
    background-color: #f9f8fd;
    box-shadow: 0 0 0px #f9f8fd, 0 0 5px #f9f8fd;
    margin-left: 20px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
}

.bu:hover {
    background-color: #f9f8fd;
    box-shadow: 0 0 0px #f9f8fd, 0 0 5px #f9f8fd, 0 0 20px #f9f8fd, 0 0 22px #f9f8fd, 0 0 28px #f9f8fd;
}

.cta {
    margin-top: -16px;
}

.s1 {
    font-family: 'Montserrat', sans-serif;
    height: 618px;
    overflow: hidden;
    color: white;
    background-color: #0d1530;
    border-radius: 12px;
}

.s1 div {
    padding-top: 15px;
    background-color: #13244f;
    float: left;
    width: 47%;
    height: 50px;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 5px #052f99;
}

.s1 div:hover {
    background-color: #052f99;
    box-shadow: 0 0 5px #052f99, 0 0 10px #052f99;

    .icon {
        color: white;
        border: 7px solid #00c4ff;
        border-radius: 28px;
        border-width: 84%;
        border-inline-width: 10px;
        background-color: #00c4ff;
    }
}

.song_div {
    position: relative;
    display: flex;
    /* text-align: left; */
    /* justify-content: space-between; */
    align-items: center;
}
.song_art > p{
    width: max-content;
}

.img_song {
    width: 51px;
    margin-bottom: 13px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.n_song {
    position: absolute;
    left: 30%;
    display: inline;
    margin-left: 20%;
    margin-top: 5px;
    font-size: 20px;
}

.song_art {
    margin-left: 45px;
    color: gray;
    font-size: 18px;
}

.song_art:hover {
    text-decoration: underline;
}

.icon {
    position: absolute;
    left: 63%;
    color: transparent;
    border: 7px solid transparent;
    border-radius: 28px;
    border-width: 84%;
    border-inline-width: 10px;
    background-color: transparent;
    margin-left: 30%;
}

.show2 {
    display: block;
    font-size: 13px;
    color: #999;
    margin-left: 93%;
    margin-top: 553px;
}

.show2:hover {
    text-decoration: underline;
}

.s2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    height: 410px;
    overflow: hidden;
    color: white;
    background-color: #0d1530;
    border-radius: 12px;
}

.s2 div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #13244f;
    float: left;
    width: 17.6%;
    height: 300px;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 5px #052f99;
}

.s2 div:hover {
    background-color: #052f99;
    box-shadow: 0 0 5px #052f99, 0 0 10px #052f99;

    .fanan {
        width: 210px;
        margin-top: 7px;
    }

    .ism_fanan {
        text-shadow: 0 0 0px #f9f8fd, 0 0 5px #f9f8fd
    }
}

.fanan {
    width: 200px;
    margin-top: 10px;
    border-radius: 100px;
}

.art {
    font-size: 30px;
    margin: 10px auto -10px 30px;
}

.ism_fanan {
    font-size: 25px;
    margin-top: -10px;
    padding: 30px;
}


.show {
    display: block;
    font-size: 13px;
    color: #999;
    margin-left: 93%;
    margin-top: 345px;
}

.show:hover {
    text-decoration: underline;
}

.s3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    height: 410px;
    overflow: hidden;
    color: white;
    background-color: #0d1530;
    border-radius: 12px;
}

.s3 div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #13244f;
    float: left;
    width: 17.6%;
    height: 300px;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 5px #052f99;
}

.s3 div:hover {
    background-color: #052f99;
    box-shadow: 0 0 5px #052f99, 0 0 10px #052f99;

    .fanan2 {
        width: 210px;
        margin-top: 7px;
        box-shadow: 0px 0px 15px 5px black;
    }

    .alb {
        text-shadow: 0 0 0px #f9f8fd, 0 0 5px #f9f8fd;
    }

    .icon2 {
        color: white;
        border: 7px solid #00c4ff;
        border-radius: 28px;
        border-inline-width: 13px;
        background-color: #00c4ff;
        margin-left: 196px;
        margin-top: -45px;
    }
}

.fanan2 {
    width: 200px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 5px black;
}


.alb {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}

.ar {
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    margin-top: -10px;
    color: gray;
}

.ar:hover {
    text-decoration: underline;
}

.icon2 {
    color: transparent;
    border: 7px solid transparent;
    border-radius: 28px;
    border-inline-width: 13px;
    background-color: transparent;
    margin-left: 84%;
    margin-top: -40px;
}